<!-- set up for future functionality involving children -->
<div class="partial_form">

  <%= form_for @child do |c| %>
    <%= c.hidden_field :user_id, :value => current_user.id %>
    <%= c.text_field :first_name, placeholder: "Enter first name only here", class: 'form-control' %>
    <br />
    <%= c.submit "Update!", class: "btn btn-primary pull-right" %>

  <% end %>

</div>
