<%= image_tag('kangaroonew.png', :class => "kangaroo") %>
<br>
<br>
<div class = "welcome">
	<h1>WELCOME to Walkabee!</h1>

	<h2>Sign in to learn new words! Ready to play?</h2>

	<a class="btn btn-primary" <%= link_to "Explore Words", categories_path %></a>
</div>