<!-- Landing page -->
<br>
<div class="kangaroo">
	<%= image_tag('kangaroonew.png', :class => "kangaroo") %>
</div>
<br>

<div class = "welcome">
	<h2>Immerse your toddler in a second language...<br>and learn together!</h2>
	<h2>Sign up to see, listen and play!</h2>
	
	<a class="btn btn-primary" <%= link_to "Play Now!", categories_path %> </a>
	<br>
	<br>
</div>