<%= image_tag('kangaroonew.png', :class => "kangaroo") %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class = "welcome">
	<h2>Learn a second language...together!</h2>

	<h2>Sign up to learn, listen and play!</h2>

<!-- 	<a class="btn btn-primary" <%#= link_to "Explore Words", categories_path %></a> -->
</div>