<!-- Words#show is set up for use during the walkabout game when the user has a mobile device that can scan NFC tags. The page renders this page based on the word and pronunciation that is selected during the game. -->

<div class = "container-fluid" style="text-align:center;">
	<div class="col-md-2">
		<%= image_tag "kangaroonew.png", class: "image" %>
	</div>
	<div class="col-md-10">
		<h3>Hooray! You found me!</h3>
	</div>
	<%= image_tag @word.image %>
	
	<!-- html5 audio player for audio playback of words -->
	<div class="audio">
	  <%= audio_tag @word.pronunciation, controls: true %>
	</div>
</div>



