words/show

<h2>Practice Words</h2>

<h4>Listen:</h4>

<div>
	<% @words.each do |w| %>
		<p><%= w.name %></p>
		<p><%= w.image %></p>
		<p><%= w.pronunciation %></p>
	<%end%>
</div>


<h4>Practice:</h4>

<iframe src="http://vocaroo.com/?minimal" width="525" height="450" frameborder="0"></iframe>




