// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image {
	width: 100px;
	height: 100px;
	overflow: hidden;
}

.mainlogin {
  text-align: center;
  width: 325px;
  margin: 0 50px 0 30px;
  float: right;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border:0px;
   padding: 15px 0 0 0;
}

.signin {
	font-size: 20px;
	color: white !important;
}

html {
	width: 100%; 
	height: 100%; 
}

body {
	font-family: 'Comfortaa', cursive !important;
	background: url('outback_background.png') no-repeat center; 
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
	}

body.basic {
	background: none;
}
.kangaroo {

	margin: 0 0 0 300px;
}

.welcome {

	text-align: center;
	margin: 0 auto;
	font-weight: bold;
	text-shadow: 1px 1px #E9AD6F;
	text-align: center;
}

.container {
	min-height: 450px;
	width: 80%;
	margin-top: 50px;
	padding: 10px;
	border-radius: 10px;
	background-color:rgba(255,255,255,0.8);
	color: black;
}

h1 {
	color: white;
	font-weight: bold;
}

h2, h3 {
	color: #2549DF;
}

a.title {
	font-family: 'Unkempt', cursive !important;
	color: white;
	text-shadow: 3px 3px black;
	font-size: 80px;
	position: center;
	margin-top: 10px;
	padding: 4px;
}

.title:hover{
	color: white !important;
	text-decoration: none;
}

.glyphicon {
	font-size: 40px;
	color: #943517;
	margin: 25px;
}

#selectedwords {
	border: 2px solid black;
	height: 80px;
	width: 200px;
	margin-right: 10px;
}

#wordselect {
	border: 2px solid black;
	height: 80px;
	width: 200px;
}

.practicebutton {
	border: 1px red;
	display:inline-block;
}

.instructionsbutton {
	background-color:rgba(255,255,255,0.8);
	font-size: 20px;
}

.playbutton {
	border: 1px blue;
	display:inline-block;
}

.audio {
	width: 200px !important;
}

.audioplayer {
	width: 100%;
}

.col-md-3 {
  padding: 20px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  font-size: 20px;
  float: left;
}

.gamebox{
	width: 190px;
	height: 190px;
    background-color: #2549DF;  
}

.flip {
	-webkit-perspective: 800;
	width: 200px;
	height: 205px;
	position: relative;
	margin: 10px;
	float: left;
}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .card .front {
	position: absolute;
	z-index: 1;
    color: white;
    cursor: pointer;
    margin-top: -37px;
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
    color: black;
    cursor: pointer;
    background-color: white;
    width: 190px;
	height: 190px;
}
