// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image {
	width: 100px;
	height: 100px;
	overflow: hidden;
}

.mainlogin {
  text-align: center;
  width: 325px;
  margin: 0 50px 0 30px;
  float: right;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border:0px;
   padding: 15px 0 0 0;
}

.signin {
	font-size: 20px;
	color: white !important;
}

html {
	width: 100%; 
	height: 100%; 
}

body {
	font-family: 'Comfortaa', cursive !important;
	background: url('outback_background.png') no-repeat center; 
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
	}

.kangaroo {
	float: left;
	margin: 10%;
}

.welcome {
	display: inline;
	margin: 0 auto;
	font-weight: bold;
	text-shadow: 1px 1px #E9AD6F;
	text-align: center;
}

.container {
	min-height: 80%;
	width: 80%;
	margin-top: 50px;
	padding: 10px;
	border-radius: 10px;
	background-color:rgba(255,255,255,0.8);
	color: black;
}

h1 {
	color: white;
	font-weight: bold;
}

h2 {
	color: #2549DF;
	text-align: center;
}

a.title {
	font-family: 'Unkempt', cursive !important;
	color: white;
	text-shadow: 3px 3px black;
	font-size: 80px;
	position: center;
	margin-top: 10px;
	padding: 4px;
}

.title:hover{
	color: white !important;
	text-decoration: none;
}

.col-md-3 {
  padding: 20px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid;
  border-color: gray;
  font-size: 20px;
  float: left;
}
