<div x-ng-app="Walkabee">
  <div x-ng-controller="CategoryCtrl">
    <div class="container selecting-box" ng-hide="startgame">
      <h2>Prepare for the Hunt!</h2>
      <br>
      Language:
      <select name="Language">
        <option>English</option>
        <option>Spanish</option>
      </select>
      Category:
      <select ng-model="selectedCategory" ng-options="category.name for category in categories"> 
      </select>
      <br>

      <h4>Select your words:</h4>
      <div class="col-md-4"> 
        <select ng-model="selectedWords" ng-options="word.name for word in selectedCategory.words" multiple>
        </select>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4" id="selectedwords">
        <div ng-repeat='word in selectedWords'>
          {{word.name}}
        </div>
      </div>

      <br>
      <br>
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal3">
        Practice Words
      </button>
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal4">
        Game Instructions
      </button>
      <button ng-click="playgame(selectedWords)" class="btn btn-primary btn-lg">
        Play Game
      </button>
    </div>

    <!-- The game -->
    <div class="container" ng-show="startgame">
      <h3>Find a word that matches the sound, then click to see if it is correct!</h3>

      <div class="row">
        <div class="col-md-3" ng-repeat="word in playwords"> 

          <div class="cont">

            <%= image_tag "kangaroonew.png", class: "gamebox" %>
            <div class="info"><img ng-src="assets/{{ word.image }}" class='image'/>
            </div>
          </div>

        </div>


<!--           <div class="row">
            <div class="col-md-3" ng-repeat="word in playwords">
              <img ng-src="assets/{{ word.image }}" class='image'/>
            </div>
          </div> -->

      </div>
    </div>

      <!-- Modal -->
      <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Preview and Practice</h4>
            </div>
            <div class="modal-body">

              <h4>Listen:</h4>
              <div ng-repeat="word in selectedWords" class="row">

                <div class="col-md-2">
                  <img ng-src="assets/{{ word.image }}" class='image'/>
                </div>

                <div class="col-md-10">
                  <div class="audio">
                    <audio controls>
                      <source ng-src="{{ trustSource(word.pronunciation) }}"
                      type="audio/mpeg" />
                    </audio>
                  </div>
                </div>
                
              </div>
              
              <h4>Practice:</h4>

              <iframe src="http://vocaroo.com/?minimal" width="525" height="240" frameborder="0"></iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- pop-up window showing game instructions -->
      <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 class="modal-title" id="myModalLabel">
                Game Instructions
              </h3>
            </div>
            <div class="modal-body">
              <h4>
                1. Place kangaroo word tags on the word items.
              </h4>
              <h4>
                2. Click a box to hear the word.
              </h4>
              <h4>
                3. Start the game! GO! Shout out clues if needed!
              </h4>
              <h4>
                5. When the card is found, scan it to see if it's correct.
              </h4>
              <h4>
                6. When the game is done, click on the final kangaroo tag to celebrate!
              </h4>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>