<div x-ng-app="Walkabee">
  <div x-ng-controller="CategoryCtrl">

    <!-- use ng-hide & later ng-show to toggle between Prepare for your Walkabout and Play Game in the same container -->
    <div class="container selecting-box" ng-hide="startgame">
      <div class="col-md-10">
        <h2>Prepare for your Walkabout!</h2>
      </div>
      <div class="col-md-2">
        
        <!-- Game instructions modal(myModal4) -->
        <span>      
          <button id="instructionsbutton" class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#myModal4">
          </button>
        </span>
      </div>
      <br>
      <div class="col-md-6">
        
        <!-- Language selection for display only. Needs to be incorporated into future functionality -->
        <h3>1. Choose language and category</h3>
      <h4>Language:</h4>
        <select name="Language">
          <option>Spanish</option>
        </select>

      <!-- ng-options drop-down to select a category. This selected category will drive future word options -->
      <h4>Category:</h4>
        <select ng-model="selectedCategory" ng-options="category.name for category in categories"> 
        </select>
      </div>
      <br>

      <!-- words in this ng-options select box are made available depending on the category selected previously -->
      <div class="col-md-6" id="wordoptions"> 
        <h3>2. Select your words:</h3>
        <select id="wordselect" ng-model="selectedWords" ng-options="word.name for word in selectedCategory.words" multiple>
        </select>
      </div>
      <br>
      <br>

      <!-- displays words being selected from the drop-down -->
      <div class="col-md-6" id="selectedwords">
        <div ng-repeat='word in selectedWords'>
          {{word.name}}
        </div>
      </div>
      <br>

      <!-- To be revised...option to open a modal for the Learn/practicebutton section will be converted from a modal(myModal3) to a view in the words folder -->
      <div class="col-md-12">
        <h3>3. Learn or Play!</h3>
        <button id="practicebutton" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal3"> Learn</button>
        <button id="playbutton" ng-click="playgame(selectedWords)" class="btn btn-primary btn-lg"> Play</button>
      </div>
    </div>

    <!-- Walkabee game shows up using ng-show. Flipping cards functionality occurs and an html5 audio player is used to play audio files for pronunciation. -->
    <div class="container" ng-show="startgame">
      <h3>1. Listen 2. Find 3. Flip!</h3>
      <br>
      <div class="row">
          <div class="flip" ng-repeat="word in playwords"> 
              <div class="audio">
                  <audio controls class="audioplayer">

                    <!-- Note that needed to designate "trustSource" before the mp3 file because of Strict Contextual Escaping in Angular ($sce). SCE only applies to interpolation expressions. -->
                    <source ng-src="{{ trustSource(word.pronunciation) }}"
                    type="audio/mpeg" />
                  </audio>
              </div>
              <br>
              <div class="card col-md-3"
              ng-class="{'flipped':isFlipped}" 
              ng-click="isFlipped=!isFlipped"> 
                  <div class="face front"> 
                      <%= image_tag "kangaroonew.png", class: "gamebox" %>
                  </div> 
                  <div class="face back"> 
                      <img ng-src="assets/{{ word.image }}" class='image'/>
                  </div> 
              </div> 
          </div> 
      </div>
      <br>
      <br>
      <br>
      <a class="btn btn-primary btn-lg" <%= link_to "Walkabout Again", categories_path %> </a>
    </div>


    <!-- This is the modal(myModal3) that will be converted to a view in the words folder instead of a modal. Contains images and audio files. Also contains a widget for record & playback of your own voice for pronunciation practice. -->
      <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 class="modal-title" id="myModalLabel">Preview and Practice</h3>
            </div>
            <div class="modal-body">

              <h3>Listen:</h3>
              <div ng-repeat="word in selectedWords" class="row">

                <div class="col-md-2">
                  <img ng-src="assets/{{ word.image }}" class='image'/>
                </div>

                <div class="col-md-10">
                  <div class="audio">
                    <audio controls class="audioplayer">
                      <source ng-src="{{ trustSource(word.pronunciation) }}"
                      type="audio/mpeg" />
                    </audio>
                  </div>
                </div>
                
              </div>
              
              <!-- Vocaroo widget used for pronunciation practice. -->
              <h3>Practice:</h3>

              <iframe src="http://vocaroo.com/?minimal" width="525" height="200" frameborder="0"></iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal(myModal4) displaying game instructions -->
      <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 class="modal-title" id="myModalLabel">
                Walkabout Game Instructions:
              </h3>
            </div>
            <div class="modal-body">
              <h4>
                1. Place kangaroo word tags near the word items you are learning about.
              </h4>
              <h4>
                2. Click the audio player to listen to the translated word.
              </h4>
              <h4>
                3. Tell your children they need to find the tags for the words they hear.
              </h4>
              <h4>
                5. When the kangaroo tag is found, click on the kangaroo card in the game to flip it over and see if they are correct!
              </h4>
              <h4>
                6. When the game is done click on the kangaroo tag to celebrate!
              </h4>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>